/* CSS File */

html,
body{
    height:100%;
    width: 100%;
}

/* Cover */

#cover{
    background: url("bg2.jpg");
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    align-content: center;
}
#cover-caption{
    width: 100;
}
